# Doxygen документация
/docs/
/docs/html/
/docs/latex/

# Сборка CMake
build/
CMakeFiles/
*.cmake
Makefile
CMakeCache.txt

# Qt
moc_*
qrc_*
ui_*
*.moc

# IDE
.vs/
.vscode/
.idea/
*.user
*.suo
*.ncb

# Исполняемые файлы
*.exe
*.app
*.dll
*.so
*.dylib