name: Deploy to Pages

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup Pages
        uses: actions/configure-pages@v3
        
      - name: Create simple page
        run: |
          mkdir -p _site
          echo "<h1>Timirbaev Project</h1><p>Test page</p>" > _site/index.html
          
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: '_site'
          
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2